<div class="container">
    <h1>Articles</h1>
        <%= link_to 'New Article', new_articale_path %>


    <% @articales.each do |articale| %>
    <% if articale.published %>
            <div class= "article-card">
        <h2><%= link_to articale.title, articale_path(articale) %></h2>
        <p><%= truncate(articale.body, length: 100) %></p>
        <% if articale.image.present? %>
        <img src="<%= articale.image.url %>" class="article-image" />            
        <% end %>
        </div>
    <% end %>
    <% end %>


</div>
